@font-face {
  font-family: 'Caca';
  src: url('./my-font2.woff2') format('woff2'),
       url('./my-font2.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: 'Caca';
  background: url('./icon.png');
}
